html {
    font-size: 10px;
    background-color: rosybrown;
  }

body {
    background-size: cover;
    margin: 0;
    padding: 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

button {
    border: none;
    border-radius: 5px;
    margin: 15px;
    height: 50px;
    width: 100px;
    font-family: 'Courier New', Courier, monospace;
}

img {
    width: 470px;
    height: 325px;
    object-fit:contain;
}

.header {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}

.container {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;
    margin-left: 100px;
    gap: 100px;
}

.left,
.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 5px solid black;
    height: 575px;
    width: 475px;
}

.right > .animations {
    padding-bottom: 150px;
    align-self: flex-end;
}

.score {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    margin-left: 15px;
}

.animations {
    display: flex;

}


.choices {
    gap: 10px;
    display: flex;
    justify-content: space-between;
}


.modal {
    position: fixed;
    z-index: 1;
    top: 50%;
    right: 50%;
    width: 300px;
    padding: 30px;
    border-radius: 10px;
    background-color: darkgrey;
    text-align: center;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    user-select: none;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.btn-replay {
    padding: 10px 20px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    background-color: black;
    opacity: 0.6;
}

.overlay.active {
    display: block;
}
