html {
    font-size: 10px;
    background-color: darkgreen;
  }

body {
    background-size: cover;
    margin: 0;
    padding: 0; 
    display: flex;
    align-items: center;
    justify-items: center;
}


.container {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
    margin: 100px;
    gap: 100px;
}


.left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 5px solid black;
    height: 575px;
    width: 475px;
}

.right {
    display: flex;
    border: 5px solid black;
    flex-direction: column;
    height: 575px;
    width: 475px;
}

.right > .animations {
    padding-bottom: 150px;
    align-self: flex-end;
}

.playerScore,
.computerScore {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

.animations {
    display: flex;

}

img {
    width: 425px;
    height: 425px;
}

.choices {
    gap: 10px;
    display: flex;
    justify-content: space-between;
}

button {
    margin: 15px;
    height: 50px;
    width: 100px;
}